button {
    position: relative;

    span {
        line-height: 0 !important;
    }
}

.btn {
    &.no-icon {
        &::after {
            content: '';
        }
    }
}

.btn-loading {
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: {
        repeat: no-repeat;
        position: center;
        image: url("white-rolling.gif");
        size: auto 100%;
    }
    width: 100%;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &.alt{
        background: {
            repeat: no-repeat;
            position: center;
            image: url("black-rolling.gif");
            size: auto 100%;
        }   
    }
}
.details-con{
.atc-button {
    .btn-loading {
            background: {
                image: url("black-rolling.gif");
                size: auto 90%;
            }
    }
}
.atc-button{
    &:hover{ 
        .btn-loading {
            background: {
                image: url("white-rolling.gif");
                size: auto 100%;
            }
        }
    }
}
}

.add-to-cart,
.checkout-btn,
.btn-checkout{
    .btn-loading {
        transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background: {
            repeat: no-repeat;
            position: center;
            image: url("black-rolling.gif");
            size: auto 100%;
        }
        width: 100%;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        &.alt{
            background: {
                repeat: no-repeat;
                position: center;
                image: url("white-rolling.gif");
                size: auto 100%;
            }   
        }
    }

    &:hover { 
        .btn-loading {
            background: {
                repeat: no-repeat;
                position: center;
                image: url("white-rolling.gif");
                size: auto 100%;
            }
        }
    }
}

.link1, .link2, .link3, .link4, .link5, .link6 {
    overflow: hidden;
    padding-bottom: 1px !important;
}

.link1:before, 
.link1:after,
.link2:before, 
.link2:after,
.link3:before, 
.link3:after,
.link4:before, 
.link4:after,
.link5:before, 
.link5:after,
.link6:before, 
.link6:after {
    content: "";
    position: absolute;
    bottom: 1.1px;
    height: 0.75px;
    width: 100%;
    background: var(--black) !important;
    transition: transform calc(0.3s * 1.3) cubic-bezier(.39, .575, .565, 1);
    transform: scaleX(0);
}
.link3:before, 
.link3:after,
.link5:before, 
.link5:after {
    background: var(--white) !important; 
}

.link1:before {
  left: 0;
  transform: scaleX(1.1);
  transform-origin: left;
  transition-delay: .1s;
}
.link1:hover:before {
  transform: scaleX(0);
  transform-origin: right;
  transition-delay: 0s;
  animation: none;
}
.link1:after {
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
}
.link1:hover:after {
    transform: scaleX(1.1);
    transform-origin: left;
    transition-delay: .2s;
    animation: none;
}

.link2:before, 
.link3:before, 
.link4:before, 
.link5:before, 
.link6:before {
    transform-origin: right;
}
.link2:hover:before, 
.link3:hover:before, 
.link4:hover:before, 
.link5:hover:before, 
.link6:hover:before,
.link2.active:before, 
.link3.active:before, 
.link4.active:before, 
.link5.active:before, 
.link6.active:before{
    transform-origin: left;
    transform: scaleX(1.1);
}