:root {
    --green: #19341E;
    --label: #617A65;
    --placeholder: #A4A399;
    --main: #304835;
    --secondary: #E4D7C8;
    --background-main: #FFF9F2;
    --background-secondary: #F2E9DF;
    --terracotta: #B35E34;
    --black: #222222;
    --white: #FFFFFF;
}
