body.no-overflow {
  overflow: hidden;
}
.global-content-top-margin > .shopify-section:first-child {
  margin-top: 0 !important;
}
.global-content-top-margin {
  margin-top: 81px;
}
.global-content-top-margin.index-con {
  margin-top: 149px;
}
#shopify-section-header {
  /* position: sticky; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: 0.3s ease all;
  visibility: visible;
}
#header-con .header-logo {
  transition: all .5s ease;
}
#header-con .underline,
#header-con .underline * {
  text-decoration: underline;
}
#header-con .header-con__sosmed-link.p2 {
  line-height: 140%;
}
#header-con .header-logo-box {
  width: 100px;
  transition: all .5s ease;
}
#header-con .header-con__left,
#header-con .header-con__right {
  width: 40%;
}
#header-con .header-con-menu-item.active,
#header-con .header-con-menu-item:hover {
  color: var(--green);
}
#header-con .col-12:after,
#header-con .col-12:before,
#header-con .container:after,
#header-con .container:before,
#header-con .row:after,
#header-con .row:before {
  display: none;
}
#header-con .header-con-submenu {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}
#header-con .header-con-submenu.flex {
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}
#header-con .header-con-menu-col {
  min-height: 1px;
}
#header-con .header-con__close-menu svg {
  width: 11.6px;
  height: 11.6px;
}
#header-con .header-con__left,
#header-con .header-con__right,
#header-con .header-con__close-menu {
  transition: all .3s ease;
}
#header-con .header-con__menu-toggle {
  margin: -12px -16px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  #header-con .header-con__menu-toggle::before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    right: -8px;
  }
}
#header-con .header-con__cart-trigger {
  padding: 16px 16px 16px 8px;
  margin: -16px -16px -16px -8px;
} 
@media screen and (min-width: 1024px) {
  #header-con .header-con__cart-trigger {
    padding: 0;
    margin: 0;
  }
}
#header-con .header-con__close-menu {
  transform: translateY(-100%);
  right: -16px;
}
#header-con .dropdown-shown .header-con__left,
#header-con .dropdown-shown .header-con__right {
  transform: translateY(-300%);
}
#header-con .dropdown-shown .header-con__close-menu {
  transform: translateY(0);
}
#header-con .header-con-menu-col-info {
  flex-shrink: 0;
  margin-top: auto;
}
#header-con .header-con-first-row {
}
#header-con .header-con__right a .icon,
#header-con .header-con__right a .icon svg {
  width: 6px;
  height: 6px;
}
#header-con .accordion .title-icon .icon {
  padding: 4px;
  width: 20px;
  height: 20px;
}
#header-con .accordion .title-icon .icon svg {
  width: 12px;
  height: 12px;
}
#header-con .has-activemenu .accordion-title:not(.active) {
  color: #A4A399;
}
#header-con .has-activemenu .accordion-title:not(.active) svg * {
  stroke: #A4A399;
}
/* header search */
#header-con .search-product-each-wrapper {
  width: calc((100% - 16px) / 2);
}
#header-con .search-view-all {
  width: 100%;
}
#header-con #header-con__predictive-search {
  order: 2;
}
#header-con #header-con__search-result {
  order: 1;
}
#header-con .header-con__search-box-icon svg {
  width: 18.67px;
  height: 18.67px;
}
#header-con .search-view-all svg,
.no-search-collection-link svg,
.no-search-contact-link svg {
  width: 10px;
  height: 10px;
}
.no-search-collection-link svg * {
  stroke: var(--white);
}
/* header cart */
#header-con .header-con__cart-main,
#header-con .header-con__gift-wrap-main {
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: none;
}
#header-con .header-con__cart-main::-webkit-scrollbar,
#header-con .header-con__gift-wrap-main::-webkit-scrollbar {
  display: none;
}
#header-con .ymal-swiper {
  overflow: visible !important;
  clip-path: inset(-100vw -100vw -100vw -100vw);
}
#header-con .ymal-nav svg {
  width: 10px;
  height: 10px;
}
#header-con .ymal-nav svg * {
  stroke: var(--green);
}
#header-con .header-con__cart-close svg {
  width: 11px;
  height: 11px;
}
#header-con .global-form-qty button {
  width: auto;
  height: auto;
}
#header-con .global-form-qty button svg {
  width: 10px;
  height: 10px;
}
#header-con .global-form-remove svg {
  width: 12px;
  height: 12px;
}
#header-con .ymal-box {
  margin-left: -16px;
  margin-right: -16px;
}
#header-con .so-checkbox {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
#header-con .shipping-option input:checked ~ .so-checkbox {
  border-color: var(--green);
}
#header-con .shipping-option input:checked ~ .so-checkbox svg {
  opacity: 1;
}
#header-con .so-checkbox svg {
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: all .3s ease;
}
#header-con .delivery-option-item {
  width: 50%;
}
#header-con .delivery-option-item.active {
  width: 50%;
  background-color: var(--green);
  color: var(--white);
}
#header-con #storePickupApp .locations,
#header-con #storePickupApp .locations .location {
  padding: 0;
  border: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: unset;
}
#header-con #storePickupApp .locations .location .locationRadio {
  display: none;
}
#header-con #storePickupApp .Zapiet-Select__Value {
  margin-left: 0;
}
#header-con #storePickupApp .Zapiet-Select__Value,
#header-con #storePickupApp .Zapiet-InputWithPrefix__Input,
#header-con #storePickupApp .locations .location .block * {
  font-family: 'PP Object Sans';
  letter-spacing: -0.14px;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 140%;
  color: var(--green);
}
#header-con #storePickupApp .Zapiet-InputWithPrefix__Wrapper {
  background: transparent;
  box-shadow: unset;
  border-radius: 0;
  border: none;
}
#header-con #storePickupApp .datepickerIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M1.4375 5.25712H14.5625M3.13393 0V1.37159M12.6875 0V1.37142M15.5 3.77142V13.6C15.5 14.9255 14.3807 16 13 16H3C1.61929 16 0.5 14.9255 0.5 13.6V3.77142C0.5 2.44594 1.61929 1.37142 3 1.37142H13C14.3807 1.37142 15.5 2.44594 15.5 3.77142Z' stroke='%2319341E'/%3E%3C/svg%3E");
  width: 21px;
  height: 21px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  padding: 5px;
}
#header-con #storePickupApp .Zapiet-InputWithPrefix__Wrapper .Zapiet-InputWithPrefix .Zapiet-InputWithPrefix__Prefix {
  position: absolute;
  margin: 0;
  right: 0;
}
#header-con #storePickupApp,
#header-con #storePickupApp .checkoutMethodContainer {
  padding: 0;
  margin: 0;
}
#header-con #storePickupApp {
  margin-top: 16px;
  display: none;
}
#header-con #storePickupApp.active {
  display: block;
}
#header-con #storePickupApp .ZapietStack .ZapietStack-Item.ZapietStack-Item--fullWidth,
#header-con #storePickupApp .checkoutMethodsContainer,
#header-con #storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Prefix,
#header-con #storePickupApp .datepickerIcon svg {
  display: none;
}
#header-con #storePickupApp .Zapiet-Select__Wrapper:after {
  right: 0;
}
#header-con #storePickupApp .Zapiet-Select__Wrapper,
#header-con #storePickupApp .Zapiet-InputWithPrefix__Input {
  padding: 8px 0;
  background: transparent;
  box-shadow: unset;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--main) !important;
}
#header-con #storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__List,
#header-con #storePickupApp .Zapiet-Calendar__Wrapper {
  bottom: unset;
  background-color: #fff9f2;
  border-radius: 0;
  border-color: var(--main);
  top: 100%;
}
#header-con #storePickupApp .Zapiet-Select__Wrapper::after {
  content: "" !important;
  position: absolute;
  top: 16px;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6L8.00065 10L12 6' stroke='%2319341E' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
#header-con #storePickupApp .Zapiet-Select__Wrapper {
  margin-top: 0;
}
#header-con .ZapietStack.ZapietStack--spacing-tight {
  row-gap: 12px;
  flex-direction: column;
  flex-wrap: nowrap;
}
#header-con .ZapietStack .ZapietStack-Item {
  width: 100%;
}
#header-con .ZapietStack .ZapietStack-Item .ZapietStack {
  flex-direction: column;
  flex-wrap: nowrap; 
}
#header-con #storePickupApp .checkoutMethodContainer .ZapietLocations-List .address,
#header-con #storePickupApp .checkoutMethodContainer .locations .location .block .moreInformationLink {
  margin-top: 0;
}
#header-con #storePickupApp .checkoutMethodContainer .locations .location .block {
  row-gap: 2px;
}
.Zapiet-Modal__Wrapper .Zapiet-Modal__Close-Button {
  font-size: 0 !important;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M12.0202 0.353518L0.353516 12.0202M12.0202 12.0202L0.353516 0.353516' stroke='%2319341E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px 11px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px !important;
  height: 40px !important;
}
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content {
  padding: 24px !important;
  position: relative;
}
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours,
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours table *,
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours h2,
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .address,
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .address h2 {
  color: var(--green) !important;
  line-height: normal;
}
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours,
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .address {
  font-family: 'PP Object Sans' !important;
  letter-spacing: -0.14px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
  line-height: 140% !important;
}
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours h2,
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .address h2 {
  font-family: 'PP Object Sans' !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  font-size: 1.125rem !important;
  line-height: 1.2 !important;
  letter-spacing: -0.48px !important;
  margin-bottom: 24px !important;
}
.Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours {
  padding-top: 20px !important;
}
@media screen and (min-width: 600px){
  #header-con #storePickupApp .Zapiet-Select__Value,
  #header-con #storePickupApp .Zapiet-InputWithPrefix__Input,
  #header-con #storePickupApp .locations .location .block * {
    font-size: 13px;
    letter-spacing: -0.13px;
    font-size: 0.8125rem;
    line-height: 140%;
  }
}
@media screen and (min-width: 1024px){
  #header-con #storePickupApp .Zapiet-Select__Value,
  #header-con #storePickupApp .Zapiet-InputWithPrefix__Input,
  #header-con #storePickupApp .locations .location .block * {
    font-size: 14px;
    letter-spacing: -0.14px;
    font-size: 0.875rem;
    line-height: 140%;
  }
  .Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours {
    padding-top: 24px !important;
  }
  .Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours h2,
  .Zapiet-Modal__Wrapper .Zapiet-Modal__Content .address h2 {
    font-size: 21px !important;
  }
}
@media screen and (min-width: 1440px){
  .Zapiet-Modal__Wrapper .Zapiet-Modal__Content .openingHours h2,
  .Zapiet-Modal__Wrapper .Zapiet-Modal__Content .address h2 {
    font-size: 24px !important;
  }
}
/* header cart gift wrap */
#header-con .header-con__gift-wrap {
  transform: translateY(100%);
  transition: all .3s ease;
}
#header-con .header-con__gift-wrap.active {
  transform: translateY(0%);
}
#header-con .hc__gwi-checkbox,
#header-con .leave-blank-checkbox {
  width: 16px;
  height: 16px;
}
#header-con .hc-checkbox .icon {
  opacity: 0;
  transition: all .3s ease;
}
#header-con .hc-checkbox .icon svg {
  width: 10px;
  height: 10px;
}
#header-con .hc-checkbox input:checked ~ .hc-icon {
  border-color: var(--green);
}
#header-con .hc-checkbox input:checked ~ .hc-icon .icon {
  opacity: 1;
}
#header-con .hc__gw-item .hc__gwi-details {
  max-height: 0;
  transition: all .3s ease;
}
#header-con .hc__gw-item.active .hc__gwi-details {
  max-height: 500px;
}
#header-con .hc__gwi-details.hide {
  display: none;
}
#header-con .design-image {
  border-color: transparent;
}
#header-con .hc__gwi-design input:checked ~ .design-image {
  border-color: var(--green);
}
#header-con .btn-add-gift-wrap.disabled {
  background-color: var(--placeholder);
  cursor: not-allowed;
}
#header-con #header-cart.delivery .free-shipping-info,
#header-con #header-cart.delivery .add-gift-wrap,
#header-con #header-cart.delivery .header-con__cart-bottom .button-next,
#header-con #header-cart .header-con__cart-bottom .button-checkout,
#header-con #header-cart.delivery .cart-title,
#header-con #header-cart .delivery-title,
#header-con #header-cart.delivery .header-con__cm_cart,
#header-con #header-cart .header-con__cm_zapiet {
  display: none;
}
#header-con #header-cart.delivery .header-con__cm_cart,
#header-con #header-cart .header-con__cm_zapiet {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease;
  display: flex;
  position: absolute;
}
#header-con #header-cart .header-con__cart-bottom .button-next,
#header-con #header-cart.delivery .header-con__cart-bottom .button-checkout,
#header-con #header-cart .cart-title,
#header-con #header-cart.delivery .delivery-title,
#header-con #header-cart .header-con__cm_cart,
#header-con #header-cart.delivery .header-con__cm_zapiet {
  display: flex;
}
#header-con #header-cart .header-con__cm_cart,
#header-con #header-cart.delivery .header-con__cm_zapiet {
  visibility: visible;
  opacity: 1;
  position: relative;
  transition: opacity .3s ease;
}
#header-con #storePickupApp.active,
#header-con .shipping-options:not(.hide-m),
#header-con .pickup-options:not(.hide-m) {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: opacity .3s ease, visibility .3s ease;
}
#header-con .shipping-options.hide-m,
#header-con .pickup-options.hide-m {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease, visibility .3s ease;
  display: block;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option:hover, 
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option.Zapiet-Select__Option--selected {
  background-color: transparent !important;
  border: none !important;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-left: 8px;
  transform: translateY(-25%);
  background-color: #B35E34;
  border-radius: 100px;
  opacity: 0;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option:hover:after, 
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option.Zapiet-Select__Option--selected:after {
  opacity: 1;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option {
  color: var(--green);
  font-family: 'PP Object Sans';
  letter-spacing: -0.14px;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 140%;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option {
  padding: 6px 20px !important;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option:nth-child(1) {
  padding: 15px 20px 6px !important;
}
#storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option:last-child {
  padding: 6px 20px 15px !important;
}
@media screen and (min-width: 600px) {
  #storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option {
    font-size: 14px;
    letter-spacing: -0.14px;
    font-size: 0.875rem;
    line-height: 140%;
  }
}
@media screen and (min-width: 1024px) {
  #storePickupApp .Zapiet-Select__Wrapper .Zapiet-Select__Option {
    font-size: 14px;
    letter-spacing: -0.14px;
    font-size: 0.875rem;
    line-height: 140%;
  }
}
#header-con #header-cart.delivery .header-con__cart-heading > .flex {
  border-bottom: 1px solid var(--main); 
}
#header-con .button-checkout.disabled {
  background-color: var(--placeholder);
  cursor: not-allowed;
}
#header-con .gift-wrap-design-box {
  overflow-x: auto;
}
#header-con .hc__gwi-details input::placeholder,
#header-con .hc__gwi-details textarea::placeholder {
  color: #A4A399;
}
#header-con .hc__gwi-details input:placeholder-shown,
#header-con .hc__gwi-details textarea.empty {
  border-color: #A4A399;
  opacity: .5;
}
#header-con .hc__gwi-details input:not(:placeholder-shown),
#header-con .hc__gwi-details textarea:not(.empty) {
  border-color: #19341E;
  color: #19341E;
}
#header-con .hc__gwi-design {
  width: 195px;
  flex-shrink: 0;
}
#header-con .header-con__gift-wrap-products {
  margin-left: -16px;
  margin-right: -16px;
}
#header-con .global-form-qty.small {
  padding: 0;
  height: 20px;
}
#header-con .global-form-qty.small .global-qty-text {
  width: 30px;
  height: 20px;
}
@media (min-width: 1024px) {
  .global-content-top-margin {
    margin-top: 87px;
  }
  .global-content-top-margin.index-con {
    margin-top: 161px;
  }
  #header-con .header-con-menu-col-info {
    margin-top: unset;
  }
  #header-con .header-con-menu-col-main {
    display: none;
  }
  #header-con.on-homepage .header-logo .header-logo-box {
    width: 248px;;
  }
  #header-con.on-homepage .header-logo {
    padding: 37px 0 0;
  }
  #header-con .header-logo-box {
    width: 100px;
  }
  #header-con .header-con__close-menu {
    right: -20px;
  }
  #header-con .header-con__menu-toggle {
    margin: 0;
  }
  /* header search */
  #header-con .search-product-each-wrapper {
    width: calc((100% - 48px) / 3);
  }
  #header-con .search-view-all {
    width: calc((100% - 24px) / 3 * 2);
  }
  #header-con .product-results-only .search-product-each-wrapper {
    width: calc((100% - 120px) / 6);
  }
  #header-con .product-results-only .search-view-all {
    width: calc((100% - 120px) / 6 * 1.5);
  }
  #header-con #header-con__predictive-search {
    order: 1;
  }
  #header-con #header-con__search-result {
    order: 2;
  }
  #header-con .header-con__search-box-icon svg {
    width: 18.67px;
    height: 18.67px;
  }
  #header-con .search-view-all svg {
    width: 10px;
    height: 10px;
  }
  /* header cart */
  #header-con .ymal-box {
    margin-left: -40px;
    margin-right: -40px;
  }
  #header-con .hc__gwi-design {
    width: calc((100% - 16px) / 3);
  }
  #header-con .header-con__gift-wrap-products {
    margin-left: 0;
    margin-right: 0; 
  }
  #header-con .header-con__empty-links .icon-active {
    display: none;
  }
  #header-con .header-con__empty-links a:hover .icon-active,
  #header-con .header-con__empty-links .active .icon-active {
    display: flex;
  }
}
